@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');


body{
	font-family: 'Roboto', sans-serif;
}

.sinup-section{
    position: relative;
}
aside{
    position: fixed;
    top: 0;
    left: 0;
    background: #07de5d26;
    width: 20vw;
    height: 100vh;
    padding: 40px;
    /*display: flex;
    align-items: center;*/
    box-shadow: 5px 0 10px 0 #00000036;
}

aside h2{

font-weight: 800;

font-size: 40px;
}
aside img{
	
}

.singn-up{}
.singn-up h1{
	font-weight: 700;
	font-size: 35px;
	text-align: center;
	margin-bottom: 20px;
}
.singn-up h1 a {
	text-decoration: none;
}

/*input.form-control , textarea.form-control , select.form-control{
	border: 0 !important;
	border-bottom: 1px solid #333 !important;
	border-radius: 0;
} 

input.form-control:focus , textarea.form-control:focus ,select.form-control:focus{
	color: #495057;
	background-color: #fff;
	border-color: red !important;
	outline: 0;
	box-shadow: 0000 rgba(13,110,253,0);
}*/


label{
	margin-right: 25px;
}